# Methos Linux - GRUB Loopback Configuration
# This file is used when the ISO is booted via loopback from GRUB
# i.e., when an existing GRUB installation chainloads the ISO directly

menuentry "Boot Methos Linux (Loopback)" {
    # Set the ISO path
    set isofile="/boot/methos-linux.iso"
    
    # Load loopback module
    loopback loop ${isofile}
    
    # Set root to loopback device
    root=(loop)
    
    # Load kernel and initramfs from ISO
    linux (loop)/arch/boot/x86_64/vmlinuz-linux \
        archisobasedir=arch \
        archiso_ssl=0 \
        img_dev=/dev/disk/by-label/METHOS \
        img_loop=${isofile} \
        cow_spacesize=4G \
        quiet \
        loglevel=3
    
    initrd (loop)/arch/boot/x86_64/initramfs-linux.img
}