# Methos Linux - GRUB Loopback Configuration
menuentry "Boot Methos Linux (Loopback)" {
    set isofile="/boot/methos-linux.iso"
    loopback loop ${isofile}
    root=(loop)
    linux (loop)/arch/boot/x86_64/vmlinuz-linux \
        archisobasedir=arch archiso_ssl=0 \
        img_dev=/dev/disk/by-label/METHOS img_loop=${isofile} \
        cow_spacesize=4G quiet loglevel=3
    initrd (loop)/arch/boot/x86_64/initramfs-linux.img
}